.cashflow {
    font: 1rem Arial;
    margin: 1em auto;
    border: 1px solid rgba(0,0,0,50%);
    border-radius: 0.5em;
    background: white;
    padding: 1em 0.75em;
    box-shadow: rgba(0,0,0,60%) 2px 2px 3px;
}
.cashflow details {
    margin-bottom: 1em;
    border: 1px solid lightslategray;
    box-shadow: rgba(0,0,0,60%) 1px 1px 1px;
}
.cashflow details > summary {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    list-style: none;
    padding-inline: 1em;
    padding-block: 0.5em;
    font-weight: bold;
    background-color: #eee;
}
.cashflow details > summary span {
    font-weight: normal;
    font-style: italic;
    font-size: 0.8em;
}
.cashflow details > summary::-webkit-details-marker {
    display: none;
}
.cashflow details > summary::before {
    position: absolute;
    left: 0;
    content: " + ";
    font-weight: bold;
    white-space: pre;
}
.cashflow details[open] > summary::before {
    content: " – ";
}
.cashflow details > summary input {
    width: 15em;
}
.cashflow .expenses .payments {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: space-between;
    padding-inline: 1em;
    padding-block: 0.75em;
}
.cashflow .expenses .payments > .payment {
    flex-basis: 0;
}
.cashflow .expenses .payments > .payment input {
    display: block;
    width: auto;
    text-align: right;
}
.cashflow > .results {
    margin-top: 1em;
    font-size: 1rem;
}
.cashflow .results .running-balance {
    padding: 1em;
}
.cashflow .results .running-balance > * {
    margin-block-end: 0.5em;
}
